@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSansRegular.ttf');
}

:root {
    --font: 'PT Sans', sans-serif;
    --font-size: 14px;
    --default-transition-time: 0.2s;

    --background-color: #282c34;
    --font-color: #abb2bf;

    --dark-grey: #333842;
    --medium-grey: #3f4550;
    --light-grey: #d7dae0;

    --light-blue: #4d78cc;
    --bloody-red: #e81123e6;

    --block-color1: var(--dark-grey);
    --block-color2: var(--medium-grey);
    --block-color3: var(--font-color);
    --block-color4: var(--light-grey);
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: var(--font);
    font-size: var(--font-size);
}

body.no-transition * {
    transition: 0ms !important;
}
